.navbar__list {
  display: inherit;
  gap: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  /* width: min-content; */
}

.navbar__link_dark {
  color: #1A1B22;
}

.navbar__link_active_dark {
  border-bottom: #1A1B22 3px solid;
}

.navbar__link_active_light {
  border-bottom: #ffffff 3px solid;
}